
.player__board {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: #{$lightBlue};
    border-radius: 20px;

    span {
        font-size: 20px;
        font-weight:bold;
    }
}

#jsNoti {
    font-size: 20px;
    color: #{$darkBlue};
    margin-bottom: 15px;
}